:root {
    /* --h1-color: green; */
    /* Colors */
    --white-color: white;
    --light-color: #77878B;
    --primary-color: #488286;
    --secondary-color: #B7D5D4;
    --tertiary-color: #FFE0B5;
    --dark-color: #2A2C24;

    /* buttons */
    --btn-p-tb: 12px;
    --btn-p-lr: 25px;
    --btn-border-size: 2px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: var(--light-color);
    color: var(--white-color);
    padding: 0 136px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-bottom: 10px;
    width: auto;
}

h1 {
    position: static;
    font-size: 52px;
    line-height: 78px;
}

h2 {
    position: static;
    font-size: 32px;
    line-height: 48px;
}

p {
    position: static;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
    width: auto;
}

/* This button section might not be needed */

/* button {
    position: static;
    margin-bottom: 10px;
    margin-top: 10px;
    width: auto;
} */

a,
a:visited {
    text-decoration: none;
    color: var(--white-color);
}

a:hover {
    color: var(--primary-color);
}

/* Classes below this line */

.btn {
    padding: var(--btn-p-tb) var(--btn-p-lr);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 25px;
    
    position: static;
    height: 48px;
}

.hero-buttons {
    display: flex;
    margin-top: 10px;
}

.btn:hover {
    background-color: var(--light-color);
}

.btn.btn--primary {
    color: var(--dark-color);
    background-color: var(--tertiary-color);
    margin-right: 15px;
}

.btn.btn--primary:hover {
    /* background-color: var(--dark-color); */
    color: var(--light-color);
    }

.btn.btn--secondary {
    border: solid var(--btn-border-size) var(--primary-color);
    background-color: transparent;
    padding: calc(var(--btn-p-tb) - var(--btn-border-size)) calc(var(--btn-p-lr) - var(--btn-border-size)) ;
    color: var(--white-color);

    border: 2px solid var(--tertiary-color);
    box-sizing: border-box;
    border-radius: 8px;

    /* flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5px;
    margin-right: 15px; */
}

.btn.btn--secondary:hover {
    background-color: var(--tertiary-color);
    color: var(--dark-color);
}

/* Nav Section */

.nav {
    display:flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

/* .logo {
    color: var(--primary-color);
    font-size: 28px;
    line-height: 42px;
} */

.logo-image {
    display: flex;
    height: 80px;
    width: 80px;
}

.headshot-image-wrapper {
    max-width: 400px;
}

.headshot-image {
    position: relative;
    height: 0;
    overflow: hidden;
    width: 100%;
    /* Intrisic Ratio of headshot Image */
    padding-bottom: calc(100 / (3 / 2) * 1%);
}

.headshot-image::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -35%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    width: 75%;
    height: 112.5%;
    background-color: var(--tertiary-color);
    border-radius: 100%;
}

.headshot-image__img {
    z-index: 1;
    display: block;
    min-height: 1px;
    width: 100%;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list-item {
    margin-right: 52px;

}

.nav-list-item:last-of-type {
    margin-right: 0px;
}

/* Hero Section */

.hero {
    display: flex;
    width: 100%;
    margin-top: 200px;
    /* padding: 250px; */
}

/* .hero > div {
    width: 50%;
} */

.left-hero {
    position: relative;
    width: 50%;
}

.right-hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

/* Targets Phones */
@media screen and (max-width: 375px) {
    body {
        padding: 0 25px;
    }
}

/* Target Tablet and Below*/
@media screen and (max-width: 1024px) {
    body {
        padding: 0 35px;
    }

    .nav {
        justify-content: center;
    }

    .nav-list {
        display: none;
    }

    .hero {
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    
    .left-hero,
    .right-hero {
        width: 100%;
        margin-bottom: 40px;
    }
}


/* Targets Only Tablets */
@media screen and (min-width: 376px) and (max-width: 1024px) {

    body {
        padding: 0 100px;
    }
}
