html {
    scroll-behavior: smooth;
  }  

:root {
    /* --h1-color: green; */
    /* Colors */
    --white-color: #F1F7EE;
    --light-color: #767B91;
    --primary-color: #CA895F;
    --secondary-color: #0D1821;
    --tertiary-color: #47535C;
    --dark-color: #0D1821;

    /* buttons */
    --btn-p-tb: 12px;
    --btn-p-lr: 25px;
    --btn-border-size: 2px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: 0 136px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-bottom: 10px;
    width: auto;
}

h1 {
    position: static;
    font-size: 52px;
    line-height: 78px;
}

h2 {
    position: static;
    font-size: 32px;
    line-height: 48px;
    /* color: var(--primary-color); */
}

p {
    position: static;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
    width: auto;
}

/* This button section might not be needed */

/* button {
    position: static;
    margin-bottom: 10px;
    margin-top: 10px;
    width: auto;
} */

a,
a:visited {
    text-decoration: none;
    color: var(--white-color);
}

a:hover {
    color: var(--primary-color);
}

/* Classes below this line */

.btn {
    padding: var(--btn-p-tb) var(--btn-p-lr);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 25px;
    
    position: static;
    height: 48px;
}

.hero-buttons {
    display: flex;
    margin-top: 10px;
}

.btn:hover {
    background-color: var(--light-color);
}

.btn.btn--primary {
    color: var(--dark-color);
    background-color: var(--primary-color);
    margin-right: 15px;
}

.btn.btn--primary:hover {
    /* background-color: var(--dark-color); */
    color: var(--white-color);
    }

.btn.btn--secondary {
    border: solid var(--btn-border-size) var(--primary-color);
    background-color: transparent;
    padding: calc(var(--btn-p-tb) - var(--btn-border-size)) calc(var(--btn-p-lr) - var(--btn-border-size)) ;
    color: var(--white-color);
    margin-right: 15px;

    border: 2px solid var(--primary-color);
    box-sizing: border-box;
    border-radius: 8px;

    /* flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5px;
    margin-right: 15px; */
}

.btn.btn--secondary:hover {
    background-color: var(--primary-color);
    color: var(--dark-color);
}

/* Nav Section */

.nav {
    display:flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

/* .logo {
    color: var(--primary-color);
    font-size: 28px;
    line-height: 42px;
} */

/* Creating a circle for logo on top left of site */
.creating-circle {
    background: white;
    position: absolute;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    
}

.logo-image {
    position: relative;
    height: 80px;
    width: 80px;
}

/* headshot section */
.headshot-image-wrapper {
    max-width: 100%;
    overflow-y: clip; 
    /* FOUND OUT WHY CIRCLE WAS BROKEN ON MOBILE (stackoverflow answer below)
    https://stackoverflow.com/questions/14270084/overflow-xhidden-doesnt-prevent-content-from-overflowing-in-mobile-browsers 
    */
    /* margin-bottom: 80px;
    position: relative; */
    /* The above 2 lines are currently fixing the broken circle on mobile */
}

.headshot-image {
    position: relative;
    height: 0;
    width: 100%;
    /* Intrinsic Ratio of headshot Image */
    padding-bottom: calc(100 / (1) * 1%);
}

.headshot-image::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -35%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    width: 112.5%;
    height: 112.5%;
    background-color: var(--primary-color);
    border-radius: 100%;

    /* might not be needed  */
    overflow-y: clip;

}

.headshot-image__img {
    z-index: 1;
    display: block;
    min-height: 1px;
    width: 100%;
    transform: translateY(10px);
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list-item {
    margin-right: 52px;
}

.nav-list-item:last-of-type {
    margin-right: 0px;
}

/* Hero Section */

.hero {
    display: flex;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 300px;
}

/* .hero > div {
    width: 50%;
} */

.left-hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.right-hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

/* Grid for about me section */

/* .about-me {
    display: flex;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 183px;
} */


.about-grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 300px;
}

.about-grid-item {
    flex: 25%;
    padding: 20px;
    border: solid 2px var(--primary-color);
    /* flex-direction: column; */
    margin-bottom: 40px;
    margin: 5px;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    height: fit-content; 
}

.about-grid-item:nth-of-type(2n) {
    border: solid 2px white;
}

.fa-people-group,
.fa-code,
.fa-graduation-cap {
    padding: 5px;
}

.description {
    align-content: center;
    justify-content: center;
    margin-top: 15px;
}

/* Grid for Projects section */

.projects-grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 300px;
}

.projects-grid-item {
    flex: 25%;
    padding: 20px;
    border: solid 2px white;
    /* flex-direction: column; */
    margin-bottom: 40px;
    margin: 5px;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    height: fit-content; 
}

.projects-grid-item:nth-of-type(2n) {
    border: solid 2px var(--primary-color);
}

/* Contact Section */

.contact-me-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 300px;
}

.socials {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 20%;
    margin-bottom: 40px;
}

.contact-form {
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex: 80%;
    flex-direction: column;
}

/* Targets Phones */
@media screen and (max-width: 375px) {
    body {
        padding: 0 25px;
    }
}

/* Media Queries */

/* Targets Only Tablets */
@media screen and (min-width: 376px) and (max-width: 1024px) {

    body {
        padding: 0 100px;
    }
}

/* Target Tablet and Below*/
@media screen and (max-width: 1020px) {
    body,
    html {
        padding: 0 35px;
    }

    .nav {
        justify-content: left;
    }

    .nav-list {
        display: none;
    }

    .hero {
        flex-direction: column-reverse;
        margin-top: 40px;
    }
    
    .left-hero,
    .right-hero {
        width: 100%;
        margin-bottom: 20px;
        flex: 100%;
    }

    .headshot-image-wrapper {
        /* max-width: 100%; */
        overflow-y: clip; 
    

    .about-grid-item,
    .projects-grid-item, 
    .socials-container,
    .contact-form-container {
        width: 100%;
        flex: 100%;
        padding: 30px;
    }

    /* .grid-container {
        width: 100%;
        margin-bottom: 40px;
    } */
}